<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>ticketbook.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormController</servlet-name>
        <servlet-class>ticketbook.controller.FormController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>ticketbook.controller.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormBackController</servlet-name>
        <servlet-class>ticketbook.controller.FormBackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>ticketbook.controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketController</servlet-name>
        <servlet-class>ticketbook.controller.TicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingController</servlet-name>
        <servlet-class>ticketbook.controller.BookingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormController</servlet-name>
        <url-pattern>/FormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/ContactController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormBackController</servlet-name>
        <url-pattern>/FormBackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketController</servlet-name>
        <url-pattern>/TicketController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingController</servlet-name>
        <url-pattern>/BookingController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
