/* 
    Document   : component
    Created on : Jul 12, 2011, 2:02:28 PM
    Author     : Tam Hong Pham
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


._content_title{
    color:#176c9c;
    border-bottom-style: inset;
    border-bottom-width:2px;
    border-bottom-color:#176c9c;
    font-size:16px;
    font-weight:bold;
    display:block;
    padding-bottom: 10px;
}


._alert_error{
    color:red;
    font-weight: bold;
}

._textbox{
    width:150px;
}

._div_alert{
    height:auto;
    width:640px;
    padding-left:30px;
    padding-right:30px;
    font-weight:bold;
    color:red;
}

._title_form{
    color:#176c9c;
}


._block_event_item{
    float:left;
    border-bottom-style: outset;
    border-bottom-width:1px;
    border-bottom-color:silver;
    padding-bottom: 10px;
    padding-top:10px;
    width:720px;
}

._block_event_item_image{
    float:left;
    padding-left:20px;
    width:200px;
}

._block_event_item_image img{
    width:150px;
}

._block_event_item_detail{
    float:left;
    width:480px;
    padding-right:20px;
}